body {
    background-color: #f0f4f5;
}
.top-bar {
    list-style: none;
    background-color: #111d29;
    color: rgb(52, 57, 78);
}
.top-bar li {
    display: inline;
}
.top-bar a{
    text-decoration: none;
    color: #596670;
}
.main-menu li{
    display: inline;
}
.main-menu {
    list-style: none;
}
.main-menu a{
    text-decoration: none;
    background-color: #111d29;
    color: #fff;
    padding: 10px 15px;
}
.logo{
    margin-top: 15px;
    margin-bottom: 25px;
}